/*  SELECTS THE MAIN DATA TABLE WINDOW
    ALLOWS YOU TO CHANGE THE HEIGHT OF THE TABLE
*/
#data-table-container > div:nth-child(4) {
    /*border: orange solid 3px;*/
    max-height: 74vh !important;
}
/*  SELECTS TABLE HEADER WHERE TITLE LIVES  */
/* .rdt_TableHeader {
    border: red solid 2px;

} */
/*  SELECTS PAGINATION BAR  */
.rdt_Pagination {
    /*border: pink solid 2px;*/
    min-height: 43px !important;
    
}

/* BEGINNING OF SUBHEADER GROUP SELECTIONS
SELECTS COLUMNS IN RISKHOLDINGS TALBE HEAD ROW: 
    (Sec Name, Coupon, Maturity) PRICE, WEIGHT, ORIG FACE, CURR FACE, MV, Factor
AND APPLIES BLACK BORDERS AROUND GROUP OF COLUMNS
REPRESENTS 'POSITION' SUBHEADER

PS: Will highlight columns previous to this group to same color for now.
*/
.rdt_TableHead > div:nth-child(1) > div:nth-child(1){
    border-left: #1c298c 1px solid;
    border-bottom: #1c298c 1px solid;
    border-top: #1c298c 1px solid;
}
.rdt_TableHead > div:nth-child(1) > div:nth-child(2),
.rdt_TableHead > div:nth-child(1) > div:nth-child(3),
.rdt_TableHead > div:nth-child(1) > div:nth-child(4),
.rdt_TableHead > div:nth-child(1) > div:nth-child(5),
.rdt_TableHead > div:nth-child(1) > div:nth-child(6),
.rdt_TableHead > div:nth-child(1) > div:nth-child(7),
.rdt_TableHead > div:nth-child(1) > div:nth-child(8),
.rdt_TableHead > div:nth-child(1) > div:nth-child(9),
.rdt_TableHead > div:nth-child(1) > div:nth-child(10),
.rdt_TableHead > div:nth-child(1) > div:nth-child(11),
.rdt_TableHead > div:nth-child(1) > div:nth-child(12) {
    border-top: #1c298c 1px solid;
    border-bottom: #1c298c 1px solid;
}

.rdt_TableHead > div:nth-child(1) > div:nth-child(n+1):nth-child(-n+13) {
    color: #fefefe;
    background-color: #1c298c;
}
/*
SELECTS COLUMNS:
    DUR, DUR CONT, YTW, YTW CONT, DXS, CNVX, WAL, OAS
REPRESENTS 'RISK' SUBHEADER
*/
.rdt_TableHead > div:nth-child(1) > div:nth-child(14){
    border-left: #4d1c8c 1px solid;
    border-bottom: #4d1c8c 1px solid;
    border-top: #4d1c8c 1px solid;
}
.rdt_TableHead > div:nth-child(1) > div:nth-child(15),
.rdt_TableHead > div:nth-child(1) > div:nth-child(16),
.rdt_TableHead > div:nth-child(1) > div:nth-child(17),
.rdt_TableHead > div:nth-child(1) > div:nth-child(18),
.rdt_TableHead > div:nth-child(1) > div:nth-child(19),
.rdt_TableHead > div:nth-child(1) > div:nth-child(20) {
    border-top: #4d1c8c 1px solid;
    border-bottom: #4d1c8c 1px solid;
}
.rdt_TableHead > div:nth-child(1) > div:nth-child(21) {
    border-right: #4d1c8c 1px solid;
    border-bottom: #4d1c8c 1px solid;
    border-top: #4d1c8c 1px solid;
}

.rdt_TableHead > div:nth-child(1) > div:nth-child(n+14):nth-child(-n+21) {
    color: #fefefe;
    background-color: #4d1c8c;
}
/*
SELECTS COLUMNS:
    AGGREGATE RATING, CARLTON (MOODY, SP, FITCH) RATING
REPRESENTS 'RATING' SUBHEADER
*/
.rdt_TableHead > div:nth-child(1) > div:nth-child(22) {
    border-left: #8c1c54 1px solid;
    border-bottom: #8c1c54 1px solid;
    border-top: #8c1c54 1px solid;
}
.rdt_TableHead > div:nth-child(1) > div:nth-child(23),
.rdt_TableHead > div:nth-child(1) > div:nth-child(24) {
    border-top: #8c1c54 1px solid;
    border-bottom: #8c1c54 1px solid;
}
.rdt_TableHead > div:nth-child(1) > div:nth-child(25) {
    border-right: #8c1c54 1px solid;
    border-bottom: #8c1c54 1px solid;
    border-top: #8c1c54 1px solid;
}

.rdt_TableHead > div:nth-child(1) > div:nth-child(n+22):nth-child(-n+25) {
    background-color: #8c1c54;
    color: #fefefe;
}
/*
SELECTS COLUMNS:
    KRD: 6M, 1YR, 2YR, 3YR, 5YR, 7YR, 10YR, 20YR, 30YR
REPRESENTS 'KRD' SUBHEADER
*/
.rdt_TableHead > div:nth-child(1) > div:nth-child(26) {
    border-left: #1c8c63 1px solid;
    border-bottom: #1c8c63 1px solid;
    border-top: #1c8c63 1px solid;
}

.rdt_TableHead > div:nth-child(1) > div:nth-child(27),
.rdt_TableHead > div:nth-child(1) > div:nth-child(28),
.rdt_TableHead > div:nth-child(1) > div:nth-child(29),
.rdt_TableHead > div:nth-child(1) > div:nth-child(30),
.rdt_TableHead > div:nth-child(1) > div:nth-child(31),
.rdt_TableHead > div:nth-child(1) > div:nth-child(32),
.rdt_TableHead > div:nth-child(1) > div:nth-child(33) {
    border-top: #1c8c63 1px solid;
    border-bottom: #1c8c63 1px solid;
}

.rdt_TableHead > div:nth-child(1) > div:nth-child(34) {
    border-right: #1c8c63 1px solid;
    border-bottom: #1c8c63 1px solid;
    border-top: #1c8c63 1px solid;
}

.rdt_TableHead > div:nth-child(1) > div:nth-child(n+26):nth-child(-n+34) {
    background-color: #1c8c63;
    color: #fefefe;
}
/*
SELECTS COLUMNS: 
    BOOK GAIN LOSS,
DOD GAIN LOSS REPRESENTS 'PERFORMANCE' SUBHEADER */ 
.rdt_TableHead > div:nth-child(1) > div:nth-child(36) {
    border-left: black 1px solid;
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}

.rdt_TableHead > div:nth-child(1) > div:nth-child(37) {
    border-bottom: black 1px solid;
    border-right: black 1px solid;
    border-top: black 1px solid;
}

.rdt_TableHead > div:nth-child(1) > div:nth-child(n+35):nth-child(-n+40) {
    background-color: black;
    color: #fefefe;
}