
.main {
  margin-bottom: 150px;
}

/*
RESPONSIBLE FOR DISPLAYING 'LEGEND' DROPDOWN CONTENTS 
HORIZONTALLY AS OPPOSED TO VERTICALLY. 
*/
#horizontal-dropdown-list.dropdown-menu.show {
  display: contents;
} /*RESPONSIBLE FOR TOGGLING DIRECTION OF DROPDOWN ICON*/
#horizontal-dropdown-btn.dropdown-toggle.show::before {
  border-top: .3em solid transparent;
  border-right: 0;
  border-bottom: .3em solid transparent;
  border-left: .3em solid;
}
#legend-position-button {
  background-color: #1c298c;
  color: #fefefe;
}
#legend-risk-button {
  background-color: #4d1c8c;
  color: #fefefe;
}
#legend-rating-button {
  background-color: #8c1c54;
  color: #fefefe;
}
#legend-krd-button {
  background-color: #1c8c63;
  color: #fefefe;
}
#legend-performance-button {
  background-color: black;
  color: #fefefe;
}